<font size="+5">#05 | Indexing the Object</font>


<div class="alert alert-warning">
  <ul>
    <li>
      <b>Python</b> + <b>Data Science</b> Tutorials in ↓
      <ul>
        <li>
          <a href="https://www.youtube.com/c/PythonResolver?sub_confirmation=1"
            >YouTube</a
          >
        </li>
        <li>
          <a href="https://blog.pythonresolver.com/">Blog</a>
        </li>
        <li>
          <a href="https://github.com/jsulopz/00-python-resolver-discipline">GitHub</a>
        </li>
      </ul>
    </li>
    <li>
      Author: <a href="https://twitter.com/jsulopz"><b>@jsulopz</b></a>
    </li>
  </ul>
</div>

# How to Index the `items` of an `Object`

## The `list`

> - [ ] Create a `list` of your best friends

> - [ ] Access the 2nd element ↓

## The `dict`

> - [ ] Create a `dict` of your best friends

> - [ ] Index the 2nd element ↓

## The `DataFrame`

> - [ ] Create a `nested dict` with your **3 best friends' personal data**

In [8]:
diccionario_bf = { #!
    'maria': {
        'altura': 1.78,
        'peso': 54,
        'edad': 18
    },
    'juan': {
        'altura': 1.87,
        'peso': 76,
        'edad': 24
    },
    'pepe': {
        'altura': 1.84,
        'peso': 94,
        'edad': 33
    }
}

> - [ ] Access the `age` of your `2nd best friend`

> - [ ] Convert the `dict` to a `DataFrame`

- [ ] Access the `age` of your `2nd best friend`

> - What would have happened if the `DataFrame` looks like this ↓

> - [ ] Is your best friends' name a `key` of the `DataFrame`?

> - [ ] How then can you access your second best friend's age?

## Recap

### The `list`

### The `dictionary`

### The `DataFrame`

## What the heck is a `key`?

> - A `key` that opens a door to get the `values`

In [38]:
df = pd.read_excel('internet_usage_spain.xlsx', sheet_name=1, index_col=0) #!
df.head()

           internet_usage     sex  age   education  weight
name
Josefina                0  Female   66  Elementary      81
Vicki                   1    Male   72  Elementary      78
David                   1    Male   48  University      69
Curtis                  0    Male   59         PhD     107
Josephine               1  Female   44         PhD      80

> - [ ] For example, get the values contained in the `age` key

> - [ ] Access the `name` of the people

> - What is the error saying?
> - [ ] Could you ask which are the `keys` for the `df`?

> - [ ] Which `keys` could you access then?

> - [ ] How could you then access the `names`?