In [7]:
import pandas as pd

In [8]:
df = pd.read_excel('internet_usage_spain.xlsx', sheet_name=1)

In [9]:
df.head()

        name  internet_usage     sex  age   education  weight
0   Josefina               0  Female   66  Elementary      81
1      Vicki               1    Male   72  Elementary      78
2      David               1    Male   48  University      69
3     Curtis               0    Male   59         PhD     107
4  Josephine               1  Female   44         PhD      80

# Accessing `Objects`

> - Objects are **data structures** that store information. 
> - [ ] Which **syntax** do we use to access the information?

## Dot Notation `.`

> - Show just the `age` column from `df`

In [ ]:
df

           name  internet_usage     sex  age    education  weight
0      Josefina               0  Female   66   Elementary      81
1         Vicki               1    Male   72   Elementary      78
2         David               1    Male   48   University      69
3        Curtis               0    Male   59          PhD     107
4     Josephine               1  Female   44          PhD      80
...         ...             ...     ...  ...          ...     ...
2450    Frances               1    Male   43   Elementary      94
2451      Harry               1  Female   18  High School      70
2452       Adam               0  Female   54   Elementary      60
2453  Christine               1    Male   31  High School      89
2454   Kimberly               0    Male   52   Elementary      88

[2455 rows x 6 columns]

In [ ]:
df.age

0       66
1       72
2       48
3       59
4       44
        ..
2450    43
2451    18
2452    54
2453    31
2454    52
Name: age, Length: 2455, dtype: int64

> - [ ] Could we access to more information than just the columns?

### The `function()`

### The `instance`

### Recap

1. The **library** may contain:
    - `module` (subfolder)
    - `function`
    - `class` (object) to be created
    - `instance` (object) already created

In [ ]:
import pandas

In [ ]:
pandas.

SyntaxError: invalid syntax (222040558.py, line 1)

In [ ]:
pandas.api

In [ ]:
pandas.array

In [ ]:
pandas.DataFrame

pandas.core.frame.DataFrame

In [ ]:
pandas.describe_option

2. The **instance** (object) may contain:
    - `function`
    - more `instance`

In [ ]:
df.

In [ ]:
df.describe

<bound method NDFrame.describe of            name  internet_usage     sex  age    education  weight
0      Josefina               0  Female   66   Elementary      81
1         Vicki               1    Male   72   Elementary      78
2         David               1    Male   48   University      69
3        Curtis               0    Male   59          PhD     107
4     Josephine               1  Female   44          PhD      80
...         ...             ...     ...  ...          ...     ...
2450    Frances               1    Male   43   Elementary      94
2451      Harry               1  Female   18  High School      70
2452       Adam               0  Female   54   Elementary      60
2453  Christine               1    Male   31  High School      89
2454   Kimberly               0    Male   52   Elementary      88

[2455 rows x 6 columns]>

In [ ]:
df.shape

(2455, 6)

3. The **function** contains nothing
    - it's the endpoint of programming

In [ ]:
pandas.read_csv

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePathOrBuffer', sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=False, prefix=<no_default>, mangle_dupe_cols=True, dtype: 'DtypeArg | None' = None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: 'str' = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors: 'str | None' = 'strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: 'StorageOptions' = None)>

In [ ]:
pandas.read_csv()

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [ ]:
pandas.read_csv.

SyntaxError: invalid syntax (2916990960.py, line 1)

## Square Brackets `[]`

> - Show just the `age` column from `df`

In [ ]:
df[age]

NameError: name 'age' is not defined

In [ ]:
df['age']

0       66
1       72
2       48
3       59
4       44
        ..
2450    43
2451    18
2452    54
2453    31
2454    52
Name: age, Length: 2455, dtype: int64

In [ ]:
df[age]

NameError: name 'age' is not defined

# Filter & Masking

## Filter people older than 70

## Filter people without studies

## Filter people older than 70 and without studies

## Filter people older than 70 or without studies